/* Navbar CSS */

.navbar {
  font-family: 'Ubuntu', sans-serif;
  background-color: #017638;
  padding-top: 1%;
  height: 11%;
}

#rightnavbarlink {
  color: #FFFF;
  margin: 13px 12px 12px 10px;
  text-transform: uppercase;
}

#navbarbuttonS , #navbarbuttonT {
  margin: 13px 12px 12px 10px;
  color: #fff;
}

#navbarbuttonS {
  border-color: #20CF51;
  background-color: #20CF51;
}

#navbarbuttonT {
  border-color: #38B4F6;
  background-color: #38B4F6;
}

#navbarbuttonT:hover, #navbarbuttonT:focus, #navbarbuttonT:active , #navbarbuttonS:hover , #navbarbuttonS:focus , #navbarbuttonS:active {
  color: #082333;
  box-shadow: none;
}

#rightnavbarlink:hover , #rightnavbarlink:active {
  color: grey;
}

/* .Navbar CSS */

/* Footer CSS */

.footer {
  font-family: 'Ubuntu', sans-serif;
  background-color: #072233;
  padding-bottom: 5%;
  margin-top: 0;
}

#footertext {
  color: #FFFF;
}

.img-responsive {
  width: 50%;
}

.r {
  margin: auto;
}

.fas {
  float: right;
  padding-right: 50%;
  padding-top: 3px;
}

.fab {
  font-size: 150%;
}

.fa-instagram {
  padding-left: 20%;
}

.fa-youtube {
  padding-left: 20%;
}

#socialicons {
  padding-bottom: 10%;
}

#hrFooter {
  height: 1px;
  border-top: 1px solid #3ACB5C;
  margin: 1em 0;
  width: 30%;
}

#titles {
  padding-bottom: 0px;
}

footer.a {
  color: #FFFF;
}

footer.a:hover , footer.a:active {
  color: 	#3ACB5C;
  text-decoration: none;
}

#footeritems:hover , #footeritems:active {
  color: #3ACB5C;
  text-decoration: none;
}

#aceCertificationBottomPage {
  color: #FFFF;
  margin: auto;
  text-align: left;
  padding-top: 5%;
}

/* .Footer CSS */

/* Floating window CSS */

#submitButton{
  display: block;
  height: 52px;
	width: 155px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  font-weight: bold;
  border-color: #143421;
  background-color: #143421;
}

#submitButton:hover{
  border-color: #20CF51;
  background-color: #20CF51;
  color: #072233;
}

#tutorButtonFloatingWindow{
  display: block;
  height: 52px;
	width: 155px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  font-weight: bold;
  border-color: #072233;
  background-color: #072233;
}

#tutorButton:hover{
  border-color: #1EB2FC;
  background-color: #1EB2FC;
  color: #072233;
}

#floatButton{
  height: 0px;
	width: 85px;
	position: fixed;
	right: 0;
	top: 50%;
	z-index: 1000;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
  padding-bottom: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#floatButton:hover {
  height: 0px;
	width: 100px;
}

#closeButtonModal{
  margin: 0;
  padding-bottom: 0;
  padding-top: 2px;
  padding-left: 0;
  color: #ffff;
}

#closeButtonModal:hover{
  color:#42CA61;
}
.modal-content{
  font-family: 'Ubuntu', sans-serif;
}

.modal-header{
  padding-right: 40%;
  background-color: #082333;
}

/* The container */
.checkBox-title {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkBox-title input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkBox-title:hover input ~ .checkmark {
  background-color: #38B4F6;
}

/* When the checkbox is checked, add a blue background */
.checkBox-title input:checked ~ .checkmark {
  background-color: #42ca61;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBox-title input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBox-title .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-title {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
  padding-bottom: 2px;
}

.formInput {
  padding: 5px;
}

.modal-title {
  color:#42CA61;
}

#becomeMember {
  color: #082333;
}

#becomeStudent {
  color: #49C965;
}

#becomeTutor{
  color: #47B6F1;
}

myModal.h2 {
  padding: 0;
}

/* .Floating window CSS */
