/* HowItWorks CSS */

#headerOfSection {
  font-weight: bold;
}

#headS {
  color: #49C965;
  font-weight: bold;
  font-size: 500%;
}

#headT {
  color:#40B5F3;
  font-weight: bold;
  font-size: 500%;
}

#colS:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.4s ease-in-out;
}

#colT:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.4s ease-in-out;
}

#processIconS {
  color : #42CA61;
  font-size: 300%;
}

#buttonS {
  border-color: #143421;
  background-color: #143421;
  color: #fff;
}

#buttonS:hover, #buttonS:focus, #buttonS:active {
  padding-right: 4%;
  padding-left: 4%;
  border-color: #20CF51;
  background-color: #20CF51;
  color: #072233;
  box-shadow: none;
}

#processIconT {
  color : #38B4F6;
  font-size: 300%;
}

#buttonT {
  border-color: #072233;
  background-color: #072233;
  color: #fff;
}

#buttonT:hover, #buttonT:focus, #buttonT:active {
  padding-right: 4%;
  padding-left: 4%;
  border-color: #38B4F6;
  background-color: #38B4F6;
  color: #072233;
  box-shadow: none;
}

#textOfBody {
  color:#082333;
}

#hrhtw {
  width: 90%;
  color:#000;
}

#headerS{}
#headerT{}

/* .HowItWorks CSS */

/* Jumbotron CSS */
#jumbotronImage {
  max-width: 100%;
}
/* .Jumbotron CSS */

/* WhatIsAce CSS */
#WIAsection1 , #WIAsection2 {
  height: 430px;

}
#WIAsection3 , #WIAsection4 {
  height: 430px;

}
#WIAsection5 , #WIAsection6 {
  height: 430px;

}
#WIAsection7 , #WIAsection8 {
  height: 430px;

}

#WIAsection2 , #WIAsection3 , #WIAsection6 , #WIAsection7 {
  font-family: 'Ubuntu', sans-serif;
  background-color: #f1f1f1;
}

#WIAsection2:hover , #WIAsection3:hover , #WIAsection6:hover , #WIAsection7:hover {
  background-color: #FAFAFA;
  transition: background-color 100ms linear;
}

#WIAsection1 {
  background: url('Lesson.jpg');
  background-repeat:no-repeat;
  background-size: cover;

}

#WIAsection4 {
  background: url('rawpixel-600787-unsplash.jpg');
  background-repeat:no-repeat;
  background-size:cover;

}

#WIAsection5 {
  background: url('Talk.jpg');
  background-repeat:no-repeat;
  background-size:cover;

}

#WIAsection8 {
  background: url('cole-keister-291568-unsplash.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}

#WIAsectiontitle {
  text-align: center;
  color: #333;
	font-size: 54px;
	font-weight: 300;
	line-height: 60px;
	letter-spacing: -0.015em;
  margin-top: 48px;
	margin-bottom: 48px;
	max-width: 600px;
}

#WIAsectiontext {
  text-align: center;
  color: #555;
	font-size: 20px;
	font-weight: 400;
	line-height: 36px;
	text-indent: 36px;
	max-width: 600px;
}
/* .WhatIsAce CSS */



/* WelcomeHub CSS */
/* .WelcomeHub CSS */

/* ReftoApp CSS */

#Astore {
  width: 237px;
  height: 68px;
}

#Gplay {
  width: 272px;
  height: 104px;
}
#Astore , #Gplay {
  display:block;
        margin-left: auto;
        margin-right: auto;
}

/* .ReftoApp CSS */
