/* HowItWorks CSS */

#headerOfSection {
  font-weight: bold;
}

#headS {
  color: #49C965;
  font-weight: bold;
  font-size: 500%;
}

#headT {
  color:#40B5F3;
  font-weight: bold;
  font-size: 500%;
}

#colS:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.4s ease-in-out;
}

#colT:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.4s ease-in-out;
}

#processIconS {
  color : #42CA61;
  font-size: 300%;
}

#buttonS {
  border-color: #143421;
  background-color: #143421;
  color: #fff;
}

#buttonS:hover, #buttonS:focus, #buttonS:active {
  padding-right: 4%;
  padding-left: 4%;
  border-color: #20CF51;
  background-color: #20CF51;
  color: #072233;
  box-shadow: none;
}

#processIconT {
  color : #38B4F6;
  font-size: 300%;
}

#buttonT {
  border-color: #072233;
  background-color: #072233;
  color: #fff;
}

#buttonT:hover, #buttonT:focus, #buttonT:active {
  padding-right: 4%;
  padding-left: 4%;
  border-color: #38B4F6;
  background-color: #38B4F6;
  color: #072233;
  box-shadow: none;
}

#textOfBody {
  color:#082333;
}

#hrhtw {
  width: 90%;
  color:#000;
}

#headerS{}
#headerT{}

/* .HowItWorks CSS */

/* Jumbotron CSS */
#jumbotronImage {
  max-width: 100%;
}
/* .Jumbotron CSS */

/* WhatIsAce CSS */

.card {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  width: 352px;
  height: auto;

}

.card-title {
  font-size: 20px;
  padding: 5px 5px 5px 5px;

}

.card-text {
  padding: 5px 5px 20px 5px;
}

#cardsimg {
  width: 352px;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid #021a40;
}

/* .WhatIsAce CSS */



/* WelcomeHub CSS */
/* .WelcomeHub CSS */

/* ReftoApp CSS */

#Astore {
  width: 237px;
  height: 68px;
}

#Gplay {
  width: 272px;
  height: 104px;
}
#Astore , #Gplay {
  display:block;
        margin-left: auto;
        margin-right: auto;
}

/* .ReftoApp CSS */
