/* HowItWorks CSS */
#howItWorks{
  font-family: 'Ubuntu', sans-serif;
}
#headerOfSection {
  font-weight: bold;
  margin-bottom: 0;
  padding: 0;
}

#headS {
  color: #49C965;
  font-weight: bold;
  font-size: 500%;
}

#headT {
  color:#40B5F3;
  font-weight: bold;
  font-size: 500%;
}
#colS{
  background-color: #FAFAFA;
  margin-right:15px;
  margin-bottom: 15px;
}

#colT{
  background-color: #FAFAFA;
  margin-right:15px;
  margin-bottom: 15px;
}

#processIconS {
  color : #42CA61;
  font-size: 300%;
}

#buttonS {
  background-color: #034300;
  border-color: #034300;
}

#buttonS:hover, #buttonS:focus, #buttonS:active {
  border-color: #20CF51;
  background-color: #20CF51;
  color: #072233;
}

#processIconT {
  color : #38B4F6;
  font-size: 300%;
}

#buttonT {
  background-color: #033162;
  border-color: #033162;
}

#buttonT:hover, #buttonT:focus, #buttonT:active {
  border-color: #38B4F6;
  background-color: #38B4F6;
  color: #072233;
}

#textOfBody {
  color:#082333;
}

/* .HowItWorks CSS */

/* Jumbotron CSS */
#jumbotronImage {
  max-width: 100%;
}
/* .Jumbotron CSS */

/* WhatIsAce CSS */

.card {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  width: 352px;
  height: auto;

}

.card-title {
  font-size: 20px;
  padding: 5px 5px 5px 5px;

}

.card-text {
  padding: 5px 5px 20px 5px;
}

#cardsimg {
  width: 352px;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid #021a40;
}

/* .WhatIsAce CSS */



/* WelcomeHub CSS */
/* .WelcomeHub CSS */

/* ReftoApp CSS */

#Astore {
  width: 237px;
  height: 68px;
}

#Gplay {
  width: 272px;
  height: 104px;
}
#Astore , #Gplay {
  display:block;
        margin-left: auto;
        margin-right: auto;
}

/* .ReftoApp CSS */
