.navbar {
font-family: 'Ubuntu', sans-serif;
background-color: #082333;
padding-top: 1%;
}
a {
  color: #FFFF;
}

a:hover , a:active {
  color: 	#42CA61;
}

#buttonS , #buttonT {
  margin: 13px 12px 12px 10px;
}

#buttonS {
  border-color: #143421;
  background-color: #143421;
  color: #fff;
}
#buttonS:hover, #buttonS:focus, #buttonS:active {
  padding-right: 15%;
  padding-left: 15%;
  border-color: #20CF51;
  background-color: #20CF51;
  color: #072233;
  box-shadow: none;
}

#buttonT {
  border-color: #072233;
  background-color: #072233;
  color: #fff;
}
#buttonT:hover, #buttonT:focus, #buttonT:active {
  padding-right: 15%;
  padding-left: 15%;
  border-color: #38B4F6;
  background-color: #38B4F6;
  color: #072233;
  box-shadow: none;
}
