#section1 , #section2 , #section3 , #section4 , #section5 , #section6 , #section7 , #section8 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  height: 580px;
}

section1 , #section3 , #section5 , #section7 {

}

#section2 , #section3 , #section6 , #section7 {
  background-color: #FAFAFA;
}

#section1 {
  background: url('Lesson.jpg');
  background-repeat:no-repeat;
  background-size: cover;
}

#section4 {
  background: url('rawpixel-600787-unsplash.jpg');
  background-repeat:no-repeat;
  background-size:cover;

}

#section5 {
  background: url('Talk.jpg');
  background-repeat:no-repeat;
  background-size:cover;

}

#section8 {
  background: url('cole-keister-291568-unsplash.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}
