body {
  font-family: 'Ubuntu', sans-serif;
}

.row {
    display: flex;
    padding: 10px;
    display: table;
}

.column {
    float: left;
    width: 50%;
}

img {
  position: relative;
  width:  100px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}
