@import url("https://fonts.googleapis.com/css?family=Ubuntu");
.btn-primary{
  display: block;
  height: 52px;
	width: 155px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  font-weight: bold;
  border-color: #143421;
  background-color: #143421;
}
.btn-primary:hover{
  border-color: #20CF51;
  background-color: #20CF51;
  color: #072233;
}
#floatButton{
  height: 0px;
	width: 85px;
	position: fixed;
	right: 0;
	top: 75%;
	z-index: 1000;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
  padding-bottom: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#floatButton:hover{
  height: 0px;
	width: 100px;
}
#closeButtonModal{
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 0
}
.modal-content{
  font-family: 'Ubuntu', sans-serif;
}
.modal-header{
  padding-right: 40%

}
